<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="css/styles.css" />
    <script
      src="https://kit.fontawesome.com/4246e6c8ef.js"
      crossorigin="anonymous"
    ></script>
    <title>Mercado Liebre</title>
  </head>
  <body>
    <!--------------------------------------------- HEADER ------------------------------------------------------------------->
    <header>
      <nav>
        <div class="logo-buscador-texto">
          <img
            src="img/logo-mercado-liebre.svg"
            class="logo-mercado-liebre"
            alt="logo de mercado liebre"
          />
          <div class="media-input-text">
            <form class="buscador">
              <input
                type="search"
                name="search"
                class="input-buscador"
                placeholder="Buscar productos, marcas y mas..."
              />
              <button class="btn-lupa">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>
            <div class="icon-text">
              <i class="fa-solid fa-hand-holding-dollar margin-right-icon"></i>
              <p>Compra en cuotas y sin tarjeta de credito</p>
            </div>
          </div>
        </div>
        <div class="global-navbar">
          <ul class="no-bullet navbar">
            <li class="navbar-item">Ofertas</li>
            <li class="navbar-item">Tiendas Oficiales</li>
            <li class="navbar-item">Vender</li>
            <li class="navbar-item">Ayuda</li>
          </ul>
          <ul class="no-bullet navbar">
            <li class="navbar-item">
              <i class="fa-solid fa-id-card margin-right-icon"></i>Crea tu
              cuenta
            </li>
            <li class="navbar-item">
              <i
                class="fa-solid fa-arrow-right-to-bracket margin-right-icon"
              ></i
              >Ingresa
            </li>
            <li class="navbar-item">
              <i class="fa-solid fa-basket-shopping margin-right-icon"></i>Mis
              compras
            </li>
          </ul>
        </div>
        <div class="global-menu">
          <i class="fa-solid fa-bars menu"></i>
        </div>
      </nav>
    </header>
    <!--------------------------------------------- MAIN ------------------------------------------------------------------->
    <main id="background">
      <div class="flex">
        <p class="visita-oferta">Basado en tu ultima visita</p>
        <section class="contenedor-visita-oferta">
          <div class="contenedor">
            <img
              src="img/img-cafetera-moulinex.jpg"
              alt="cafetera"
              class="img-item"
            />
            <div class="contenedor-descripcion">
              <p class="precio-item">$ 6.770</p>
              <p class="titulo-item">Cafetera Moulinex</p>
              <p class="sin-oferta"></p>
              <div class="contenedor-envio">
                <i class="fa-solid fa-truck envio"></i>
                <p class="envio-texto">Envio Gratis</p>
              </div>
            </div>
          </div>
          <div class="contenedor">
            <img
              src="img/img-macbook-pro-2019.jpg"
              alt="macbook-pro"
              class="img-item"
            />
            <div class="contenedor-descripcion">
              <p class="precio-item">$ 1.200.000</p>
              <p class="titulo-item">MacBook Pro 2019</p>
              <p class="sin-oferta"></p>
              <div class="contenedor-envio">
                <i class="fa-solid fa-truck envio"></i>
                <p class="envio-texto">Envio Gratis</p>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="flex">
        <p class="visita-oferta">Ofertas</p>
        <section class="contenedor-visita-oferta">
          <div class="contenedor">
            <img
              src="img/img-samsung-galaxy-s10.jpg"
              alt="Samsung Galaxy S10"
              class="img-item"
            />
            <div class="contenedor-descripcion">
              <p class="precio-item">$ 100.000</p>
              <p class="titulo-item">Samsung Galaxy S10</p>
              <p class="oferta">20% off</p>
              <div class="contenedor-envio">
                <i class="fa-solid fa-truck envio"></i>
                <p class="envio-texto">Envio Gratis</p>
              </div>
            </div>
          </div>
          <div class="contenedor">
            <img
              src="img/img-tv-samsung-smart.jpg"
              alt="TV Samsung Smart"
              class="img-item"
            />
            <div class="contenedor-descripcion">
              <p class="precio-item">$ 270.000</p>
              <p class="titulo-item">TV Samsung Smart</p>
              <p class="oferta">10% off</p>
              <div class="contenedor-envio">
                <i class="fa-solid fa-truck envio"></i>
                <p class="envio-texto">Envio Gratis</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!--------------------------------------------- FOOTER ------------------------------------------------------------------->
    <footer>
      <div>
        <div class="contenedor-footer">
            <div class="icon-footer-div">
                <i class="fa-solid fa-credit-card icon-footer"></i>
            </div>
          <p class="footer-text">Pagá con tarjeta o efectivo</p>
          <p class="footer-description">
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>
        <div class="contenedor-footer">
            <div class="icon-footer-div">
                <i class="fa-solid fa-gift icon-footer"></i>
            </div>
          <p class="footer-text">Envío gratis desde $ 2.500</p>
          <p class="footer-description">
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </div>
        <div class="contenedor-footer">
            <div class="icon-footer-div">
                <i class="fa-solid fa-user-shield icon-footer"></i>
            </div>
          <p class="footer-text">Seguridad, de principio a fin</p>
          <p class="footer-description">
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </div>
        <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </div>
    </footer>
  </body>
</html>
