<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="img/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="img/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="img/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="css/styles.css" />
    <script
      src="https://kit.fontawesome.com/4246e6c8ef.js"
      crossorigin="anonymous"
    ></script>
    <title>Mercado Liebre</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="logo-buscador-texto">
          <img
            src="img/logo-mercado-liebre.svg"
            class="logo-mercado-liebre"
            alt="logo de mercado liebre"
          />
          <form class="buscador">
            <input
              type="search"
              name="search"
              class="input-buscador"
              placeholder="Buscar productos, marcas y mas..."
            />
            <button class="btn-lupa"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
          <div class="icon-text">
            <i class="fa-solid fa-hand-holding-dollar margin-right-icon"></i>
            <p>Compra en cuotas y sin tarjeta de credito</p>
          </div>
        </div>
        <div class="global-navbar">
        <ul class="no-bullet navbar">
          <li class="navbar-item">Ofertas</li>
          <li class="navbar-item">Tiendas Oficiales</li>
          <li class="navbar-item">Vender</li>
          <li class="navbar-item">Ayuda</li>
        </ul>
        <ul class="no-bullet navbar">
            <li class="navbar-item"><i class="fa-solid fa-id-card margin-right-icon"></i>Crea tu cuenta</li>
            <li class="navbar-item"><i class="fa-solid fa-arrow-right-to-bracket margin-right-icon"></i>Ingresa</li>
            <li class="navbar-item"><i class="fa-solid fa-basket-shopping margin-right-icon"></i>Mis compras</li>
          </ul>
    </div>
      </nav>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
