body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    background-color: #EAC926;
    margin: 0;
}

/* ------------------------------------------ NavBar --------------------------------------------- */

.logo-mercado-liebre{
    width: 150px;
}

.logo-buscador-texto{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-bottom: 1rem;
    padding-top:  0.5rem;
}

.buscador{
    display: flex;
    align-items: center;
    margin-right: 15rem;
}

.icon-text{
    display: flex;
    align-items: center;
    margin-right: 5rem;
}

.media-input-text{
    display: flex;
}

.no-bullet{
    list-style: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #EAC926;
}

.navbar-item{
    margin-right: 1.5rem;
}

.global-navbar{
    display: flex;
    justify-content: space-between;
    margin-left: -0.7rem;
}

.input-buscador{
    width: 20rem;
    height: 2rem;
}

.btn-lupa{
    height: 2rem;
    width: 2.5rem;
}

.margin-right-icon{
    margin-right: 0.5rem;
}

.menu{
    padding: 0.5rem;
    background-color: #1259c3;     
    color: white;
    border-radius: 5px;
    font-size: 20px;

}

.global-menu{
    display: none;
}

@media (max-width: 1250px ){
    .input-buscador{
        width: 11rem;
    }
}

@media (max-width: 1090px ){
    .input-buscador{
        width: 21.5rem;
    }

    .icon-text {
        margin-right: 4.8rem;
    }

    .buscador {
        margin-right: 2.5rem;
    }

    .logo-buscador-texto{
        display: block;
    }
    .logo-mercado-liebre {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .media-input-text {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 850px ){

    .icon-text {
        margin-right: 1rem;
    }

    .global-menu{
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
    }

    .global-navbar{
        display: block;
    }

    .navbar {
        flex-direction: column;
    }

    .media-input-text {
        display: block;
    }

    .input-buscador{
        width: 20rem;
    }

    .logo-buscador-texto{
        display: grid;
        justify-content: center;
    }

    .logo-mercado-liebre{
        display: flex;
        margin-left: 6rem;
    }

    .icon-text {
        margin-left: 1rem;
    }
}

@media (max-width: 450px ){
    .input-buscador{
        width: 15rem;
    }

    .logo-mercado-liebre {
        margin-left: 3rem;
    }

    .icon-text {
        margin-left: -1rem;
    }
}

@media (max-width: 355px ){
    .input-buscador{
        width: 14rem;
    }

    .logo-mercado-liebre {
        margin-left: 3.2rem;
    }

    .icon-text {
        margin-left: -1rem;
        margin-left: 0.5rem;
        padding-right: 0;
        margin-right: 0;
    }

    p{
        margin-block-end: 0;
    }

}

/* ------------------------------------------ Main --------------------------------------------- */

#background {
    background-color: #ebebeb;
}

.products-container{
    
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3rem;
}

.banner-container{
    overflow: hidden;
    margin-bottom: 3rem;
}

.flex{
    display: flex;
}

.visita-oferta{
    font-size: 24px;
}

.contenedor-visita-oferta{
    display: flex;
}

.contenedor{
    width: 250px;
    height: 350px;
    background-color: white;
    padding: 15px;
    margin-right: 2rem;
    position: relative;
    transition: transform 1s;
}

.img-item{
    width: 250px;
}

.contenedor-descripcion{
    border-top: 1px solid #666;
}

.precio-item{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding-top: 1rem;
}

.contenedor-envio{
    display: flex;
    align-items: center;
}

.envio {
    font-weight: 900;
    display: flex;
    align-items: center;
    color: #408c49;
    border-radius: 50%;
    border: 2px solid #408c49;
    background-color: white;
    padding: 0.3rem;
    position: absolute;
    right: 1.5rem;
    top: 15.9rem;
    transition: all 2s;
}

.envio:hover{
    transform: rotate(-90deg);
}

.envio-texto{
    margin-left: 0.5rem;
}

.sin-oferta{
    margin-bottom: 1.85rem;
}

.oferta{
    color: #408c49;
    font-weight: bold;
    margin-left: 0.7rem;
    margin-top: 1.1rem;
}

.precio-oferta{
    display: flex;
}

.titulo-item{
    display: none;
}

.contenedor:hover .titulo-item{
    display: block;
}

.contenedor:hover {
    box-shadow: 0px 0px 10px rgb( 100 , 100 , 100 );
    transform: scale(1.1);
}

@media (max-width: 1390px) {
    .flex{
        display: grid;
        justify-content: center;
    }

}

@media (max-width: 740px) {
    .contenedor-visita-oferta{
        display: grid;
    }

    .contenedor{
        margin-bottom: 1rem;
        box-shadow: none;
    }

    .titulo-item:hover{
        display: unset;
    }

}

/* ------------------------------------------ Footer --------------------------------------------- */

.contenedor-footer{
    display: table-cell;
}

.icon-footer{
    font-size: 2em;
    color: #1259c3;
}

.icon-footer-div{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer-text{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.footer-description{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.copyright{
    display: flex;
    justify-content: center;
}

@media (max-width: 740px) {
    .contenedor-footer{
        display: block;
    }
}